version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: tinyurl
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./Backend
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/tinyurl
      PORT: 4000
      BASE_URL: http://localhost:4000
    depends_on:
      - postgres

  frontend:
    build: ./Frontend
    ports:
      - "3000:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
